@import "compass";
@import "breakpoint";

@import "../variable/responsive";

//@import "../function/retina-sprites"
@import "../mixin/background-image";
@import "../function/retina-background-image";

.icon-menu {
  @include background-image("svg/menu.svg");
  width: 24px;
  height: 19px;
  &.menu-open {
    @include background-image("svg/close.svg");
  }
}

.icon-logo {
  @include background-image("svg/accupass.svg");
  width: 137px;
  height: 30px;
}

.icon-share {
  @include background-image("svg/share.svg");
  width: 18px;
  height: 24px;
}

.bg {
  @include background-retina("bg-desktop.png", "bg-desktop-2x.png", center 0px, no-repeat, 1920px auto);
}

.bg-title {
  @include background-retina("title-desktop.png", "title-desktop-2x.png", center 0px, no-repeat, auto 100%);
}

.bg-robot {
  @include background-retina("robot.gif", "robot-2x.gif", center 0px, no-repeat, 100% auto);
}

.bg-ticket-left {
  @include background-retina("bg-jag-left.png", "bg-jag-left-2x.png", 4px 0px, repeat-y, 4px 4px);
}

.bg-ticket-right {
  @include background-retina("bg-jag-right.png", "bg-jag-right-2x.png", 100% 0px, repeat-y, 4px 4px);
}

.bg-ticket-left-friend {
  @include background-retina("bg-jag-left.png", "bg-jag-left-2x.png", 17px 0px, repeat-y, 4px 4px);
}

.bg-ticket-right-friend {
  @include background-retina("bg-jag-right.png", "bg-jag-right-2x.png", 100% 0px, repeat-y, 4px 4px);
}

.bg-2people {
  @include background-retina("2people.png", "2people-2x.png", center 0px, no-repeat, 100% auto);
  width: 384px;
  height: 67px;
}

.bg-share-text2 {
  @include background-retina("share-text2.png", "share-text2-2x.png", center 0px, no-repeat, 100% auto);
  width: 500px;
  height: 55px;
}

@include breakpoint($phone) {
  .bg {
    background: none;
  }
  .bg-sunshine {
    @include background-retina("bg-mobile.png", "bg-mobile-2x.png", center 0px, no-repeat, 100%);
  }
  .bg-title {
    display: none;
  }
  .bg-robot {
    @include background-retina("robot.gif", "robot-2x.gif", center 0px, no-repeat, 374px auto);
    margin-top: 36%;
  }
  .bg-ticket-left {
    @include background-retina("bg-jag-left.png", "bg-jag-left-2x.png", 12px 0px, repeat-y, 4px 4px);
  }
  .bg-ticket-left-friend {
    @include background-retina("bg-jag-left.png", "bg-jag-left-2x.png", 17px 0px, repeat-y, 4px 4px);
  }
  .bg-ticket-right-friend {
    @include background-retina("bg-jag-right.png", "bg-jag-right-2x.png", 100% 0px, repeat-y, 4px 4px);
  }
  .bg-2people {
    @include background-retina("2people.png", "2people-2x.png", center 0px, no-repeat, 100% auto);
    width: 250px;
    height: 43.5px;
  }
  .bg-share-text2 {
    @include background-retina("share-text2.png", "share-text2-2x.png", center 0px, no-repeat, 100% auto);
    width: 320px;
    height: 35px;
  }
}
