<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="distribution" content="global">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="">
    <meta name="publisher" content="">
    <meta property="article:author" content="">
    <meta property="article:publisher" content="">
    <meta name="rating" content="general">
    <meta name="copyright" content="">
    <meta name="robots" content="all">
    <meta name="spiders" content="all">
    <meta name="webcrawlers" content="all">
    <meta name="company" content="">
    <meta name="abstract" content="A">
    <meta name="subject" content="">
    <meta name="description" content="">
    <meta name="keywords" content="" >

    <meta property="fb:app_id" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="../img/share.png">


    <link rel="SHORTCUT ICON" type="image/x-icon" href="../img/favicon.ico" sizes="16x16 24x24 32x32 48x48 64x64" >
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico" sizes="16x16 24x24 32x32 48x48 64x64">
    <!-- End meta -->

    <title>title</title>

    <link rel="stylesheet" href="../css/global/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>

<body>
