
        <div class="footer">

              <ul class="footer-ul">
                <li class="footer-li visible-desktop"><a href="#" target="_blank">balabala</a></li>
                <li class="footer-li"><a href="/reward">得獎名單</a></li>
                <li class="footer-li"><a href="/rule">活動辦法</a></li>
                <li class="footer-li"><a href="/private">隱私權條款</a></li>
              </ul>

              <div class="footer-brand visible-mobile">
                <span><a class="footer-btn-home" href="#" target="_blank">balabala</a></span>
          </div>
        </div>
      </div>
    </div>
  <body>
</html>
