@import "~compass-mixins/lib/compass";
@import "../../style/sass/function/retina-icon";

.infoBar {
  font-variant: italics;
}

.time {
  margin: 0 30px;
  @include border-radius(5px);
  border: 2px solid #f0f;
}

.iconFb {
  //@include retina-icon("btn_fb_s", "png");
}

.myLove {
  color: #a12a32;
}
