


/*
    webpack will convert png to base64 when image size less then 8k(deafult),
    so sprite icon is unnecessary
*/
@mixin retina-icon($file, $type) {
    background-image: image-url($file + '.' + $type, false, false);
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    height: image-height($file + '.' + $type);
    width: image-width($file + '.' + $type);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        background-image: image-url($file + '_2x.' + $type, false, false);
        background-size: (image-width($file + '_2x.' + $type) / 2) (image-height($file + '_2x.' + $type) / 2);
        height: image-height($file + '_2x.' + $type) / 2 + 1;
        width: image-width($file + '_2x.' + $type) / 2 + 1;
    }
}
