/*
NoMethodError: undefined method `downcase' for nil:NilClass

Backtrace:
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:19:in `initialize'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:54:in `new'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:54:in `image_dimensions'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:12:in `image_height'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/script/tree/funcall.rb:139:in `_perform'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/script/tree/node.rb:50:in `perform'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:364:in `block (4 levels) in visit_mixin'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:364:in `map'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:364:in `block (3 levels) in visit_mixin'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:364:in `block (2 levels) in visit_mixin'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:359:in `block in visit_mixin'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:98:in `with_mixin'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `map'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:88:in `block in with_import'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:88:in `with_import'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/tree/root_node.rb:20:in `render'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/engine.rb:278:in `render'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327@global/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.8.3/lib/listen/listener.rb:282:in `call'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.8.3/lib/listen/listener.rb:282:in `_process_changes'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.8.3/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.8.3/lib/listen/listener.rb:229:in `loop'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.8.3/lib/listen/listener.rb:229:in `_wait_for_changes'
/Users/hank7444/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.8.3/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "NoMethodError: undefined method `downcase' for nil:NilClass"; }
