html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
a:focus {
    outline: thin dotted;
}
a:active, a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: yellow;
    color: black;
}
code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes:"\201C""\201D""\2018""\2019";
}
small {
    font-size: 80%;
}
sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button, input {
    line-height: normal;
}
button, select {
    text-transform: none;
}
button, html input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix {
    zoom: 1;
}
.clearfix:before {
    content:"";
    display: table;
}
.clearfix:after {
    content:"";
    display: table;
    clear: both;
}
html {
    font-family: sans-serif;
    line-height: 1;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: black;
}
@charset "UTF-8";
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

a {
  color: white;
}
a:focus, a:hover {
  text-decoration: none !important;
  outline: none !important;
}

html, body {
  font-family: STHeitiTC-Light, "蘋果儷中黑", "微軟正黑體", Arial, sans-serif, "新細明體";
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  background-color: #ffb426;
}

@-moz-document url-prefix() {
  html, body {
    font-family: Arial, "微軟正黑體", "蘋果儷中黑", sans-serif, "新細明體";
  }
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 white;
}

body.menu-open {
  overflow: hidden;
}

.seo {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.visible-mobile {
  display: none;
}

.break {
  display: none;
}

.bg {
  background-color: #ffb426;
}

.no-bg {
  background-color: rgba(255, 255, 255, 0);
}

.bg-gradient {
  height: auto;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2ZjZWQ2MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZiNDI2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #fced63), color-stop(50%, #ffb426));
  background: -moz-linear-gradient(#fced63 5%, #ffb426 50%);
  background: -webkit-linear-gradient(#fced63 5%, #ffb426 50%);
  background: linear-gradient(#fced63 5%, #ffb426 50%);
}

.root-wrap {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
  overflow: hidden;
}

.header-wrap {
  height: 60px;
}

.header {
  position: fixed;
  z-index: 550;
  width: 100%;
  height: 60px;
  max-width: 768px;
  margin: 0 auto;
  color: white;
  text-align: center;
  background-color: #0088d2;
  border: 0;
}

.header-btn-menu {
  display: inline-block;
  float: left;
  margin-left: 16px;
  margin-top: 20px;
}

.header-logo {
  display: inline-block;
  margin-top: 15px;
}

.header-btn-share {
  display: inline-block;
  float: right;
  margin-right: 16px;
  margin-top: 13px;
}

.header-menu {
  color: blue;
}

.sidemenu {
  position: fixed;
  top: 60px;
  z-index: 100;
  display: none;
  width: 240px;
  height: 100%;
  overflow-y: auto;
  background-color: #333333;
}
.sidemenu.menu-open {
  display: block;
}

.sidemenu-title {
  display: block;
  padding: 15px;
  font-size: 16;
  line-height: 2em;
}

.sidemenu-category-title {
  padding: 5px 12px;
  font-size: 12px;
  color: #727272;
  background-color: #414141;
}

.sidemenu-category-item {
  display: block;
  padding: 15px;
  font-size: 16px;
  color: white;
  border-bottom: 1px solid #414141;
}

.footer {
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.footer-ul {
  margin-top: 11px;
}

.footer-li {
  display: inline-block;
  margin-right: 21px;
}

/*
    webpack will convert png to base64 when image size less then 8k(deafult),
    so sprite icon is unnecessary
*/
/*
 * Retina Backgrounds for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create background image for pixel ratio 1 screens and put it somewhere in your images folder.
 * 2. create background image for pixel ratio 2 screens and put it somewhere in your images folder.
 * 3. include the background-image property in your Sass/Scss using: '@include background-retina(<ratio-1-imagefile>, <ratio-2-imagefile>)'
 */
.icon-readme {
  background-image: url('../img/readme_title.png');
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 50px;
  width: 159px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-readme {
    background-image: url('../img/readme_title_2x.png');
    background-size: 159px 50.5px;
    height: 51.5px;
    width: 160px;
  }
}

.icon-fb {
  background-image: url('../img/btn_fb_s.png');
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 38px;
  width: 39px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-fb {
    background-image: url('../img/btn_fb_s_2x.png');
    background-size: 39px 38px;
    height: 39px;
    width: 40px;
  }
}

.bg-action2 {
  background-image: url('../img/action_2_w.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .bg-action2 {
    background-image: url('../img/action_2_w_2x.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
  }
}

.icon-accupass {
  background-image: url('../img/svg/accupass.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 137px;
  height: 30px;
}

.icon-close {
  background-image: url('../img/svg/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 23px;
}
