@charset "UTF-8";
/*
 * Retina Backgrounds for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create background image for pixel ratio 1 screens and put it somewhere in your images folder.
 * 2. create background image for pixel ratio 2 screens and put it somewhere in your images folder.
 * 3. include the background-image property in your Sass/Scss using: '@include background-retina(<ratio-1-imagefile>, <ratio-2-imagefile>)'
 */
.icon-menu {
  background-image: url('../../img/svg/menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 19px;
}
.icon-menu.menu-open {
  background-image: url('../../img/svg/close.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-logo {
  background-image: url('../../img/svg/accupass.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 137px;
  height: 30px;
}

.icon-share {
  background-image: url('../../img/svg/share.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 24px;
}

.bg {
  background-image: url('../../img/bg-desktop.png');
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: 1920px auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .bg {
    background-image: url('../../img/bg-desktop-2x.png');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 1920px auto;
  }
}

.bg-title {
  background-image: url('../../img/title-desktop.png');
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: auto 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .bg-title {
    background-image: url('../../img/title-desktop-2x.png');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: auto 100%;
  }
}

.bg-robot {
  background-image: url('../../img/robot.gif');
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: 100% auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .bg-robot {
    background-image: url('../../img/robot-2x.gif');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 100% auto;
  }
}

.bg-ticket-left {
  background-image: url('../../img/bg-jag-left.png');
  background-repeat: repeat-y;
  background-position: 4px 0px;
  background-size: 4px 4px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .bg-ticket-left {
    background-image: url('../../img/bg-jag-left-2x.png');
    background-repeat: repeat-y;
    background-position: 4px 0px;
    background-size: 4px 4px;
  }
}

.bg-ticket-right {
  background-image: url('../../img/bg-jag-right.png');
  background-repeat: repeat-y;
  background-position: 100% 0px;
  background-size: 4px 4px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .bg-ticket-right {
    background-image: url('../../img/bg-jag-right-2x.png');
    background-repeat: repeat-y;
    background-position: 100% 0px;
    background-size: 4px 4px;
  }
}

.bg-ticket-left-friend {
  background-image: url('../../img/bg-jag-left.png');
  background-repeat: repeat-y;
  background-position: 17px 0px;
  background-size: 4px 4px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .bg-ticket-left-friend {
    background-image: url('../../img/bg-jag-left-2x.png');
    background-repeat: repeat-y;
    background-position: 17px 0px;
    background-size: 4px 4px;
  }
}

.bg-ticket-right-friend {
  background-image: url('../../img/bg-jag-right.png');
  background-repeat: repeat-y;
  background-position: 100% 0px;
  background-size: 4px 4px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .bg-ticket-right-friend {
    background-image: url('../../img/bg-jag-right-2x.png');
    background-repeat: repeat-y;
    background-position: 100% 0px;
    background-size: 4px 4px;
  }
}

.bg-2people {
  background-image: url('../../img/2people.png');
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: 100% auto;
  width: 384px;
  height: 67px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .bg-2people {
    background-image: url('../../img/2people-2x.png');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 100% auto;
  }
}

.bg-share-text2 {
  background-image: url('../../img/share-text2.png');
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: 100% auto;
  width: 500px;
  height: 55px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .bg-share-text2 {
    background-image: url('../../img/share-text2-2x.png');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 100% auto;
  }
}

@media (max-width: 767px) {
  .bg {
    background: none;
  }

  .bg-sunshine {
    background-image: url('../../img/bg-mobile.png');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 100%;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .bg-sunshine {
    background-image: url('../../img/bg-mobile-2x.png');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 100%;
  }
}

@media (max-width: 767px) {
  .bg-title {
    display: none;
  }

  .bg-robot {
    background-image: url('../../img/robot.gif');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 374px auto;
    margin-top: 36%;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .bg-robot {
    background-image: url('../../img/robot-2x.gif');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 374px auto;
  }
}

@media (max-width: 767px) {
  .bg-ticket-left {
    background-image: url('../../img/bg-jag-left.png');
    background-repeat: repeat-y;
    background-position: 12px 0px;
    background-size: 4px 4px;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .bg-ticket-left {
    background-image: url('../../img/bg-jag-left-2x.png');
    background-repeat: repeat-y;
    background-position: 12px 0px;
    background-size: 4px 4px;
  }
}

@media (max-width: 767px) {
  .bg-ticket-left-friend {
    background-image: url('../../img/bg-jag-left.png');
    background-repeat: repeat-y;
    background-position: 17px 0px;
    background-size: 4px 4px;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .bg-ticket-left-friend {
    background-image: url('../../img/bg-jag-left-2x.png');
    background-repeat: repeat-y;
    background-position: 17px 0px;
    background-size: 4px 4px;
  }
}

@media (max-width: 767px) {
  .bg-ticket-right-friend {
    background-image: url('../../img/bg-jag-right.png');
    background-repeat: repeat-y;
    background-position: 100% 0px;
    background-size: 4px 4px;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .bg-ticket-right-friend {
    background-image: url('../../img/bg-jag-right-2x.png');
    background-repeat: repeat-y;
    background-position: 100% 0px;
    background-size: 4px 4px;
  }
}

@media (max-width: 767px) {
  .bg-2people {
    background-image: url('../../img/2people.png');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 100% auto;
    width: 250px;
    height: 43.5px;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .bg-2people {
    background-image: url('../../img/2people-2x.png');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 100% auto;
  }
}

@media (max-width: 767px) {
  .bg-share-text2 {
    background-image: url('../../img/share-text2.png');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 100% auto;
    width: 320px;
    height: 35px;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .bg-share-text2 {
    background-image: url('../../img/share-text2-2x.png');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 100% auto;
  }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

a {
  color: white;
}
a:focus, a:hover {
  text-decoration: none !important;
  outline: none !important;
}

html, body {
  font-family: STHeitiTC-Light, "蘋果儷中黑", "微軟正黑體", Arial, sans-serif, "新細明體";
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  background-color: #ffb426;
}

@-moz-document url-prefix() {
  html, body {
    font-family: Arial, "微軟正黑體", "蘋果儷中黑", sans-serif, "新細明體";
  }
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 white;
}

body.menu-open {
  overflow: hidden;
}

.seo {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.visible-mobile {
  display: none;
}

.break {
  display: none;
}

.bg {
  background-color: #ffb426;
}

.no-bg {
  background-color: rgba(255, 255, 255, 0);
}

.bg-gradient {
  height: auto;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2ZjZWQ2MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZiNDI2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #fced63), color-stop(50%, #ffb426));
  background: -moz-linear-gradient(#fced63 5%, #ffb426 50%);
  background: -webkit-linear-gradient(#fced63 5%, #ffb426 50%);
  background: linear-gradient(#fced63 5%, #ffb426 50%);
}

.root-wrap {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
  overflow: hidden;
}

.header-wrap {
  height: 60px;
}

.header {
  position: fixed;
  z-index: 550;
  width: 100%;
  height: 60px;
  max-width: 768px;
  margin: 0 auto;
  color: white;
  text-align: center;
  background-color: #0088d2;
  border: 0;
}

.header-btn-menu {
  display: inline-block;
  float: left;
  margin-left: 16px;
  margin-top: 20px;
}

.header-logo {
  display: inline-block;
  margin-top: 15px;
}

.header-btn-share {
  display: inline-block;
  float: right;
  margin-right: 16px;
  margin-top: 13px;
}

.header-menu {
  color: blue;
}

.sidemenu {
  position: fixed;
  top: 60px;
  z-index: 100;
  display: none;
  width: 240px;
  height: 100%;
  overflow-y: auto;
  background-color: #333333;
}
.sidemenu.menu-open {
  display: block;
}

.sidemenu-title {
  display: block;
  padding: 15px;
  font-size: 16;
  line-height: 2em;
}

.sidemenu-category-title {
  padding: 5px 12px;
  font-size: 12px;
  color: #727272;
  background-color: #414141;
}

.sidemenu-category-item {
  display: block;
  padding: 15px;
  font-size: 16px;
  color: white;
  border-bottom: 1px solid #414141;
}

.footer {
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.footer-ul {
  margin-top: 11px;
}

.footer-li {
  display: inline-block;
  margin-right: 21px;
}
