:global(.example-enter) {
  opacity: 0.01;
  transition: opacity 35s ease-in;
}

:global(.example-enter.example-enter-active) {
  opacity: 1;
}

:global(.example-leave) {
  opacity: 1;
  transition: opacity 1s ease-in;
}

:global(.example-leave.example-leave-active) {
  opacity: 0.01;
}
